* {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }

  .stake {
    margin-top: 1rem;
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .stackIcons {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      margin-bottom: 3rem;

      .iconBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon {
          background-color: #008cd0;
          border-radius: 50%;
          padding: 0.6rem;
        }

        h4 {
          text-align: center;

          @media (max-width: 420px) {
          }
        }
      }

      @media (max-width: 420px) {
        width: 100%;

        h4 {
          font-size: 0.5rem;
        }
      }
    }

    .big_Box {
      background-color: #262c43;
      border-radius: 20px;
      padding: 1rem;

      h3,
      .para {
        text-align: center;
      }

      .box_Cards {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
        .box_card {
          background-color: #101428;
          width: 200px;
          padding: 1rem;
          min-height: 200px;
          border-radius: 10px;
          .card_header {
            display: flex;

            h4 {
              font-weight: bold;
              margin-bottom: 0.6rem;
              width: 70%;
            }
          }

          @media (max-width: 420px) {
            width: 100%;
            min-height: 150px;
          }
          p {
            color: #788d97;
          }
        }

        @media (max-width: 1180px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 780px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 420px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .checkBox {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          margin-right: 1rem;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 1rem;
      width: 260px;

      Button {
        border-radius: 20px !important;
        background-color: #008cd0 !important;
        font-size: 0.7rem;
        width: 110px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
