.litepaper {
    padding: 50px 0;
    margin-top: 30px;
    margin-bottom: 30px;

    .main-heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
  
        h2 {
          text-align: center;
          font-size: 38px;
          font-weight: bold;
        }
        h5 {
          text-align: center;
          line-height: 35px;
          margin-top: 5px;
        }
    }
    .cards {
      border-radius: 15px;
      margin-top: 5rem;
      position: relative;
      margin-bottom: 5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .card{
        border-radius: 15px;
        margin-bottom: 2rem;
        border: none;
        padding: 15px;
        line-height: 35px;
        width: 48.7%;

        b{
            color: #00afff;
            border-radius: 9999px;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 18px;
            text-transform: uppercase;
            font-style: italic;
            padding-bottom: 5px;
        }
      }
      .card:nth-child(2n){
          margin-right: 0;
      }
      .card:last-child, 
      .card:nth-last-child(2){
        margin-bottom: 0;
        }
    }
    .content{
        h4{
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #00afff;
            line-height: 30px;
        }
        h5{
            font-size: 15px;
            line-height: 26px;
        }
        ul{
            margin-top: 1rem;
            list-style: circle;
            padding-left: 15px;

            li{
                color: #707070;
                line-height: 30px;
                font-style: italic;
                font-weight: bold;
            }
        }
    }
  }
  @keyframes rotatecw {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateacw {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(10px);
    }
    20% {
      transform: translateY(20px);
    }
    30% {
      transform: translateY(30px);
    }
    40% {
      transform: translateY(40px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  